<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <title>{{ pageName }}</title>
  <link rel="stylesheet" property="stylesheet" href="styles/{{ assetPath('main.css') }}" type="text/css" media="screen">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/common/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/common/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/common/favicon-16x16.png">
  <script>document.querySelector('html').classList.remove('no-js');</script>
</head>
<body class="{{ bodyClass }}">
  <header>
    {% include 'partials/menu-main.twig' %}
    {% include 'partials/header-main.twig' %}
  </header>

  <main>
    {% block content %}
      No content
    {% endblock %}
  </main>

  <footer>
    {% include 'partials/back-to-top.twig' %}
    {% include 'partials/footer-menus.twig' %}
    {% include 'partials/foot.twig' %}
  </footer>

  <script src="scripts/{{ assetPath('bundle.js') }}" async></script>
</body>
</html>
